{% extends '/_layouts/two-column.twig' %}

{% block headStructuredData %}
  {% if touch('Touch_RootBlog') and touch('Touch_Top') %}
    {{ include('/include/structured-data/web-site.twig') }}
  {% else %}
    {{ include('/include/structured-data/breadcrumb-list.twig') }}
  {% endif %}
{% endblock %}

{% block main %}
  {% if touch('Touch_Category') %}
    <h1 class="text-gray-900 font-bold text-2xl mb-10">%{CATEGORY_NAME}</h1>
  {% endif %}

  {% if DATE_MONTH %}
    <h1 class="text-gray-900 font-bold text-2xl mb-10">
      {% if DATE_DAY %}
        {{ DATE_YEAR }}年{{ DATE_MONTH }}月{{ DATE_DAY }}日
      {% else %}
        {{ DATE_YEAR }}年{{ DATE_MONTH }}月
      {% endif %}
    </h1>
  {% endif %}

  <div id="swap-htmx">
    {{ include('/include/htmx/swap-index.html.twig') }}
  </div>
{% endblock %}
